{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./src/components",
        "@contexts": "./src/contexts",
        "@images": "./src/images",
        "@lib": "./src/lib",
        "@locales": "./locales",
        "@pages": "./src/components/pages",
        "@root": "./src",
        "@services": "./src/services",
        "@test": "./src/test"
      }
    }],
    ["styled-components", { "ssr": true, "displayName": true }]
  ]
}
