{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@converters": "./src/converters",
        "@components": "./src/components",
        "@contexts": "./src/contexts",
        "@images": "./src/images",
        "@pages": "./src/components/pages",
        "@root": "./src",
        "@services": "./src/services"
      }
    }],
    ["styled-components", { "ssr": true, "displayName": true }]
  ]
}
