export DOCKER_HUB_ACCESS_TOKEN="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
export DOCKER_HUB_USERNAME=daveperrett
export GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export NEXT_PUBLIC_ANALYTICS_DOMAIN=string.test
export NEXT_PUBLIC_ANALYTICS_ENABLED=false
export NODENV_VERSION=20.6.1
export NEXT_PUBLIC_BASE_PATH=/string # supply this if you are deploying to a sub-path of your domain like https://tools.example.com/string
